
OA4R7U_betucserelo/OA4R7U_betucserelo/obj/Debug/OA4R7U_betucserelo.pdb
OA4R7U_betucserelo/.vs/OA4R7U_betucserelo/v16/.suo
OA4R7U_betucserelo/OA4R7U_betucserelo/bin/Debug/OA4R7U_betucserelo.exe
*.exe
*.cache
